body{
    background-color: #F0F0F0;
    font-family: 'Barlow', sans-serif;
}
.container-fluid{
    /* border:1px solid red; */
}

.header{
    /* border:1px solid green; */
    background-color: #333E50;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 5px 7px #0000005e;
}
.menu-container{
    /* border: 1px solid blue; */
}
.logo-container{
    /* border: 1px solid black; */
    
    
}
.rossmann-logo{
    /* border: 1px solid white; */

}

.menu-btn{
    /* border:1px solid green; */
    margin-top: 5px;
}
.menu-btn:hover{
    border:1px solid white;
    border-radius: 6px;
}

.content-body{
    background-color: #F0F0F0;
    width: 100%;
    height: 100vh;
}
.nav-tab{
    background-color: white;
    /* border:1px solid green; */
    padding: 30px 0px 0px 0px;
    position:fixed;
    height: 100%;
    top:50px;
    width:20%;
}

.nav-tab-compact{
    width:5%;
}

.main-area{
    /* border:1px solid red; */
    width:80%;
    top:70px;
    left:18%;
    padding:0px
}
.main-area-compact{
    left:12%;
}

.menu-item{
    /* border:1px solid red; */
    width: 100%;
    height: 45px;
    margin:15px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.menu-item:hover{
    background-color: #D9E4F8;
  
}

.item-beacon{
    /* border:1px solid red; */
    width:5px;
    height: 45px;
    margin-right: 12px;

}
.item-icon{
    /* border:1px solid red; */
    width:45px;
    height: 35px;
    


}
.item-name{
    
    /* border:1px solid orange ; */
    /* width:30px; */
    height: 45px;
    text-align: center;
    padding: 10px 0px 0px 20px;
    color: #9B9B9B;
}

.item-name-compact{
    visibility: hidden;
}
.active-name{
    color:#333E50;
}
.active-beacon{
    background-color:#333E50;
}


.tabs{
    visibility: hidden;
    position: absolute;
    padding: 0px;


}

.active-tab{
    visibility:visible;
}

.card{
    background-color: white;
    /* height: 60px; */
    box-shadow: 3px 3px 6px #00000040;
    margin: 15px 0px;
    padding:20px 37px;
    font-size: 97%;
    color: #333E50;
}

.prediction-card{
    height:250px;
}

.toggle-container{
    padding:0px;
    overflow: hidden;
    margin:5px;
}



.toggle-btn{
    border-radius: 8px;
    width: 50%; 
    height:30px; 
    float:left;
    border:1px solid #333E50;
    text-align: center;
    font-size: 92%;
    padding-top: 2px;
    cursor: pointer;
    color:#333E50;
}


.single-tab{
    visibility: hidden;
    top:-250px;

}
.series-tab{
    margin-top: 35px;
    visibility: hidden;
  
}
.active-predict-tab{
    visibility: visible;
}

.inputs{
    border:none;
    border-bottom:1px solid grey;
    margin:0px 20px 24px 0px;
    outline:none;
    width: 260px;

}
.inputs:focus{
    outline:none;
    border-bottom:1.5px solid #333E50;

}

.submit{
    background-color: #333E50;
    color: white;
    height: 35px;
    width:120px;
    padding:0px;
}
.submit:hover{
    color: #D9E4F8;
    border: 1px solid white;
}

div.datedropper.mine {

    --dd-color1: #333E50;
    --dd-color2: #FFF;
    --dd-color3: #333E50;
    --dd-color4: #FFF;
  
    --dd-radius: 5px;
    --dd-width: 200px;
    --dd-shadow: 0 0 17px 4px rgba(0, 0, 0, 0.09);
  
  }

.description{
    padding: 40px 10px 0px 10px;
}
.p-description{
    width:240px;
    margin-top: 35px
}
.profiles{
    width:250;
    height: 350px;
    padding:5px;
}

.forcast-description{
    text-align: center;
    color: grey;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #333E50;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D9E4F8;
  }

  .table-title{
      color: #333E50;
      margin-top:35px;
      font-size: 120%;
  }
  
  .loading-hidden{
      visibility: hidden;
  }
  .loading-active{
      visibility: visible;
  }

  .stats-title{
    color: #333E50;
    margin-top:35px 0px;
    font-size: 120%;
  }


.dots{
    width: 10px;
    height: 10px;
    background-color: #333E50;
    border-radius: 50%;
    margin:5px
}

.dot-1{
    animation-name: flow;
    animation-duration: .4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dot-2{
    animation: flow .4s ease .2s infinite alternate;
}
.dot-3{
    animation: flow .4s ease .4s infinite alternate;

}

@keyframes flow{
    from{
        opacity: 1;
        transform: scale(1.2);
    }
    to{
        opacity: .20;
        transform: scale(.75);
    }
}