<div class=" card info">

    This section contains analysis of the training data and its 
    features with regard to seasonality, effects of promotion, store assortment types and the openning or re-openning of competitive stores in the area.

</div>
  <div class=" card ">
    <p class="stats-title">Seasonality</p>
    <div class="chart-container">
      <canvas class="my-chart1 charts"></canvas>
    </div>
    <p class="description">
      As indicated by the sharply ascending lines, Almost all stores see a significant increase in sales during seasons like holidays. 
      It can be seen from the graph that this trend is repeated every year during seasons like Christmas and Easter. The figure above shows the amount of
       sale two weeks before, during and two weeks after Christmas in 2013. It can be seen from the graph that sales suddenly 
      get to a peak amount in the weeks before Christmas and start to fall down within the next two weeks, while almost nearing zero during the holiday.
    </p>
  </div>

  <div class=" card ">
    <p class="stats-title">Promotions & Sales</p>
   <div class="chart-container">
      <canvas class="my-chart2 charts"></canvas>
    </div>
    <p class="description">
      These plots show that promotions play a significant role in increasing sales. 
      Days where the store is running promotions see a much higher sales amount than days without promotion. 
      And since higher sales are directly attributed to higher number of customers, promotions also seem to attract more customers.
    </p>
  </div>

  <div class=" card ">
    <p class="stats-title">Promotions & Customers</p>
    <div class="chart-container">
      <canvas class="my-chart3 charts"></canvas>
    </div>
    <p class="description">
  
      Days where the store is running promotions seem to attract a much higher number of customers.
    </p>
  </div>

  <div class=" card ">
    <p class="stats-title">Assortment Types & Sales</p>
    <div class="chart-container">
      <canvas class="my-chart4 charts"></canvas>
    </div>
    <p class="description">
      Stores of assortment type b, extra assortment, 
      seem to have the highest amount of sale while stores of assortment type c, extended assortment, 
      see a very high increase in sale during the summer.
    </p>
  </div>

  <div class=" card ">
    <p class="stats-title">Competition & Sales</p>
    <div class="chart-container">
      <canvas class="my-chart5 charts"></canvas>
    </div>
    <p class="description">
      This plot shows the change in sales amounts of a sample store before and after a competitor store was opened within 310 meters. Sales are shown to increase after the competitor store was opened.
    </p>
  </div>